.navbar .container-avatar{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    overflow: hidden;
}
.navbar .container-avatar img{
    height: 100%;
}
form .avatar{
    width: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.pub-image{
    margin-bottom: 25px;
}
.pub-image .post-avatar{
    width: 35px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}
.pub-image .data-user{
    font-weight: bold;
    line-height: 35px;
}
.pub-image .nickname{
    color: gray;
    font-size: 12px;
}