.navbar .container-avatar{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    overflow: hidden;
}
.navbar .container-avatar img{
    height: 100%;
}
form .avatar{
    width: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.pub-image{
    margin-bottom: 25px;
}
.pub-image .post-avatar{
    width: 35px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}
.pub-image .data-user{
    font-weight: bold;
    line-height: 35px;
}
.pub-image .nickname{
    color: gray;
    font-size: 12px;
}
.pub-image .card-body{
    padding: 0px;
}
.pub-image .post{
    max-height: 500px;
    overflow: hidden;
}
.pub-image .post img{
    width: 100% !important;
}
.pub-image .description{
    padding-left: 20px;
    padding-right: 20px;
}
.pub-image .likes{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    font-size: 25px;
}
.pub-image a{
    text-decoration: none;
    color: black;
    transition: 300ms;
}
.pub-image .like-button:hover{
    color: red;
}
.pub-image .unlike-button{
    color: red;
}
.pub-image .unlike-button:hover{
    color: black;
}
.pub-image .comments-button:hover{
    color: gray;
}
svg{
    display: none;
}
nav[role=navigation] div:last-child{
    display: none;
}
nav[role=navigation] div:first-child span{
    margin-right: 10px;
}